In [1]:
#abs(): Returns the absolute value of a number.
integer = -20
abs(integer)

20

In [2]:
Abs()
abs()
Absolute()

NameError: name 'Abs' is not defined

In [3]:
print('Absolute value of -20 is:', abs(integer))

Absolute value of -20 is: 20

In [4]:
#  floating number  

floating = -20.83 

print('Absolute value of -20.83 is:', abs(floating))

Absolute value of -20.83 is: 20.83

In [5]:
#all(): It returns true if all items passed in iterable object are true. 
#Otherwise, it returns False.
#This fxn accepts an iterable object (such as list, dictionary, etc.). 
# all values true  

k = [1, 3, 4, 6, -3]

In [6]:
print(all(k))

True

In [7]:
# all values false  

k = [0, False, 3]

In [8]:
print(all(k))

False

In [9]:
# one false value  
k = [1, 3, 7, 0]

In [10]:
print(all(k))

False

In [11]:
#sum(): Used to get the sum of numbers of an iterable, i.e., list.

list_1 = [1,2,4]

In [13]:
s = sum(list_1)

In [14]:
print(s)

7

In [15]:
s = sum(list_1, 10)  
print(s)

17

In [16]:
#len(): Returns the length (the number of items) of an object.

strA = ' Python ' 
#strA = 'Returns the length (the number of items) of an object'

In [17]:
print(len(strA))

8

In [18]:
#list() creates a list in python.
# empty list  

Gaurav = list()

In [19]:
print(Gaurav)

[]

In [23]:
#Converting string to list
String = "abcde sdfg"

In [24]:
print(list(String))

['a', 'b', 'c', 'd', 'e', ' ', 's', 'd', 'f', 'g']

In [25]:
#divmod(): Used to get quotient and remainder of two numbers. 
#This function takes two numeric arguments and returns a tuple. 
#Both arguments are required and numeric 
# Calling function  
result = divmod(11,2)

In [26]:
# Displaying result  
print(result)

(5, 1)

In [27]:
result[0]

5

In [28]:
#dict(): Its a constructor which creates a dictionary. 
# Calling function  
result = dict() # returns an empty dictionary

In [29]:
print(result)

{}

In [31]:
result2 = dict(a=1,b=2)

In [32]:
# Displaying result  
print(result2)

{'a': 1, 'b': 2}

In [34]:
#set(): It is used to create a new set using elements passed during the call. 
#It takes an iterable object as an argument and returns a new set object.
# Calling function  
result = set() # empty set 
print(result)

set()

In [36]:
result2 = set('1633')  
result3 = set('javatpoint is something which I like') 
result4 = {1,2}

In [37]:
print(result)  
print(result2)  
print(result3)  
print (result4)

set()
{'1', '6', '3'}
{'g', 'e', 'i', 'v', 'l', 'j', 'I', 'p', 'n', 'h', 't', 'w', 'k', 'o', 'c', 'a', 'm', 's', ' '}
{1, 2}

In [38]:
#pow(): Used to compute the power of a number.
# positive x, positive y (x**y)  
print(pow(4, 2))

16

In [39]:
# negative x, positive y  
print(pow(-4, 2))

16

In [40]:
#tuple(): Used to create a tuple object.
t1 = tuple()  
print('t1=', t1)

t1= ()

In [41]:
# creating a tuple from a list 
l =  [1, 6, 9]
t2 = tuple(l)    #tuple([1, 6, 9]) 
print('t2=', t2)

t2= (1, 6, 9)

In [42]:
# creating a tuple from a string  
t1 = tuple('Java') 
print('t1=' , t1)

t1= ('J', 'a', 'v', 'a')

In [44]:
#lambda()- Helps creating anonymous functions. 
#Lambda functions can accept any number of arguments, 
#but they can return only one value in the form of expression.

#Multiple arguments to Lambda function

x = lambda a,b,c,d : a+b+c+d

In [46]:
# a and b are the arguments and a+b is the expression which gets evaluated and returned.   
print("Addition = ", x(20,10,10,10))

Addition =  50

In [47]:
#Program to filter out the list which contains numbers  divisible by 3.

List = [1,2,3,4,10,123,22]  

Oddlist = list(filter(lambda x:(x%3 == 0),List))

In [48]:
# the list contains all the items of the list for which the lambda function evaluates to true  
print(Oddlist)

[3, 123]

In [50]:
#program to triple each number of the list using map  

Old_List = [1,2,3,4,10,123,22] 

new_list = list(map(lambda x : x*3, Old_List))

In [51]:
# this will return the triple of each item of the list and add it to new_list  
print(new_list)

[3, 6, 9, 12, 30, 369, 66]

In [ ]:
#-----------------Apply Family of Functions--------------------------------

#To apply our own functions to dataset, pandas provides three functions from
#apply family of functons: pipe(), apply(), applymap()

# pipe():Table wise Function Application.

# It performs the custom operation for the entire dataframe.

In [52]:
# own function

def adder(adder1,adder2) : return adder1 + adder2

#or

#def adder(adder1,adder2) :
#    result = adder1 + adder2
#    return result

In [53]:
#Create a Dictionary of series
import pandas as pd
d = {'Score_Math':pd.Series([66,57,75,44,31,67,85,33,42,62,51,47]),
     'Score_Science':pd.Series([89,87,67,55,47,72,76,79,44,92,93,69])}

In [54]:
print(type(d))

<class 'dict'>

In [55]:
print(d)

{'Score_Math': 0     66
1     57
2     75
3     44
4     31
5     67
6     85
7     33
8     42
9     62
10    51
11    47
dtype: int64, 'Score_Science': 0     89
1     87
2     67
3     55
4     47
5     72
6     76
7     79
8     44
9     92
10    93
11    69
dtype: int64}

In [56]:
import pandas as pd
df = pd.DataFrame(d)
print(df)

    Score_Math  Score_Science
0           66             89
1           57             87
2           75             67
3           44             55
4           31             47
5           67             72
6           85             76
7           33             79
8           42             44
9           62             92
10          51             93
11          47             69

In [57]:
print (df)
print("\n") #new line 
print (df.pipe(adder,2))

    Score_Math  Score_Science
0           66             89
1           57             87
2           75             67
3           44             55
4           31             47
5           67             72
6           85             76
7           33             79
8           42             44
9           62             92
10          51             93
11          47             69


    Score_Math  Score_Science
0           68             91
1           59             89
2           77             69
3           46             57
4           33             49
5           69             74
6           87             78
7           35             81
8           44             46
9           64             94
10          53             95
11          49             71

In [58]:
# apply():Row or Column Wise Function Application.
# It performs the custom operation for either row wise or column wise.

import numpy as np

#Create a DataFrame
d = {'Score_Math':pd.Series([66,57,75,44,31,67,85,33,42,62,51,47]),
     'Score_Science':pd.Series([89,87,67,55,47,72,76,79,44,92,93,69])}

In [59]:
df = pd.DataFrame(d)
print (df)

    Score_Math  Score_Science
0           66             89
1           57             87
2           75             67
3           44             55
4           31             47
5           67             72
6           85             76
7           33             79
8           42             44
9           62             92
10          51             93
11          47             69

In [60]:
#Row Wise Fxn Application:
#row wise mean

print (df.apply(np.mean,axis=1))

0     77.5
1     72.0
2     71.0
3     49.5
4     39.0
5     69.5
6     80.5
7     56.0
8     43.0
9     77.0
10    72.0
11    58.0
dtype: float64

In [57]:
#Column Wise Fxn Application:
#column wise mean
print (df.apply(np.mean,axis=0))

Score_Math       55.0
Score_Science    72.5
dtype: float64

In [61]:
# applymap():Element wise Function Application.

# applymap():Element wise Function Application.
# It performs specified operation on all the elements of the dataframe. 

#Create a DataFrame

d = {'Score_Math':pd.Series([66,57,75,44,31,67,85,33,42,62,51,47]),
     'Score_Science':pd.Series([89,87,67,55,47,72,76,79,44,92,93,69])}

df = pd.DataFrame(d)

In [62]:
print (df)

    Score_Math  Score_Science
0           66             89
1           57             87
2           75             67
3           44             55
4           31             47
5           67             72
6           85             76
7           33             79
8           42             44
9           62             92
10          51             93
11          47             69

In [63]:
#Example 1:
print (df.applymap(lambda x : x*2))

    Score_Math  Score_Science
0          132            178
1          114            174
2          150            134
3           88            110
4           62             94
5          134            144
6          170            152
7           66            158
8           84             88
9          124            184
10         102            186
11          94            138

In [64]:
#Example2:
import math as m
print (df.applymap(lambda x : m.sqrt(x)))

    Score_Math  Score_Science
0     8.124038       9.433981
1     7.549834       9.327379
2     8.660254       8.185353
3     6.633250       7.416198
4     5.567764       6.855655
5     8.185353       8.485281
6     9.219544       8.717798
7     5.744563       8.888194
8     6.480741       6.633250
9     7.874008       9.591663
10    7.141428       9.643651
11    6.855655       8.306624